{% liquid 

    if product.metafields.review_summary.average_rating != blank

        assign average_rating = product.metafields.review_summary.average_rating.value
        assign average_rating_review_count = product.metafields.review_summary.average_rating_review_count.value
        assign average_rating_rounded = average_rating | round: 1

        assign summary = product.metafields.review_summary.summary.value
        assign pros = product.metafields.review_summary.pros.value
        assign cons = product.metafields.review_summary.cons.value

        if block.settings.dropshadow
            assign dropshadow = 'onereview-summary--dropshadow'
        else
            assign dropshadow = ''
        endif

    elsif request.design_mode
        assign average_rating_review_count = '100'
        assign average_rating = 4.5
        assign average_rating_rounded = 4.5

        assign summary = 'This is placeholder text. This paragraph will change depending on the product, but it will be a brief overview of what people said about the product in the online reviews.'
        assign pros = 'This section will include a bulleted list of pros from the online reviews we found.'
        assign cons = 'This section will include a bulleted list of cons from the online reviews we found.'

        if block.settings.dropshadow
            assign dropshadow = 'onereview-summary--dropshadow'
        else
            assign dropshadow = ''
        endif

    endif

    if block.settings.heading != blank
        assign heading = block.settings.heading
    else
        assign heading = 'Summary of Online Reviews'
    endif

    if block.settings.summary_heading != blank
        assign summary_heading = block.settings.summary_heading
    else
        assign summary_heading = 'What people like'
    endif

    if block.settings.pros_heading != blank
        assign pros_heading = block.settings.pros_heading
    else
        assign pros_heading = 'Pros'
    endif

    if block.settings.cons_heading != blank
        assign cons_heading = block.settings.cons_heading
    else
        assign cons_heading = 'Cons'
    endif
%}

{% if product.metafields.review_summary.published.value == true or request.design_mode %}
    {% if summary != blank or pros != blank or cons != blank %}
        {% capture rating_summary %}
            <div class="onereview-summary__rating">
              <p >{{ average_rating }}</p>
            </div>
            <div class="onereview-summary__stars">
                {% render 'onereview-stars', rating: average_rating_rounded %}
            </div>
            <div class="onereview-summary__count">
                {{ average_rating_review_count }} online ratings
                <div class="onereview-summary__tooltip">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" fill="currentColor"/></svg>
                    <div class="onereview-summary__tooltip-text">The summary star rating & review is based on aggregated reviews of this product across the web. It cannot be altered by the merchant and can be verified by emailing <a href="mailto:support@onereview.app">support@onereview.app</a>.</div>
                </div>
            </div>
        {% endcapture %}
        <div class="onereview-summary {{ dropshadow }}">
            <div class="onereview-summary__side">
                {{ rating_summary }}
            </div>
            <div class="onereview-summary__main">
                <h2 >{{ heading }}</h2>
                <div class="onereview-summary__mobile-summary">
                    {{ rating_summary }}
                </div>
                {% if summary != blank %}
                    <div class="onereview-summary__overall">
                        <h3 >{{ summary_heading }}</h3>
                        <div>{{ summary }}</div>
                    </div>
                {% endif %}
                {% if pros != blank %}
                    <div class="onereview-summary__pros">
                        <h3 >{{ pros_heading }}</h3>
                        <div>{{ pros }}</div>
                    </div>
                {% endif %}
                {% if cons != blank %}
                    <div class="onereview-summary__cons">
                        <h3 >{{ cons_heading }}</h3>
                        <div>{{ cons }}</div>
                    </div>
                {% endif %}
            </div>
            <a href="https://www.onereview.app/" target="_blank" class="onereview-summary__powered-by">Powered by <span>OneReview</span></a>
        </div>    
    {% endif %}
    {% if block.settings.include_rich_snippets == true %}
        <div itemscope itemtype="https://schema.org/Product">
            <meta itemprop="name" content="{{ product.title | escape }}" />
            <meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}" />
            <meta itemprop="gtin14" content="{{ product.selected_or_first_available_variant.barcode }}" />
            <meta itemprop="brand" content="{{ product.vendor }}" />
            <meta itemprop="description" content="{{ product.description | strip_html | escape }}" />
            <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: '900x900' }}" />
            <div
                itemprop="offers"
                itemscope=""
                itemtype="https://schema.org/Offer"
            >
                <meta itemprop="priceCurrency" content="{{ localization.country.currency.iso_code }}" />
                <meta itemprop="price" content="{{ product.price | money_without_currency | strip_html | remove: ',' }}" />      
                <meta itemprop="itemCondition" itemtype="https://schema.org/OfferItemCondition" content="https://schema.org/NewCondition" />
                {% if product.available == true %}
                    <meta itemprop="availability" content="https://schema.org/InStock" />
                {% else %}
                    <meta itemprop="availability" content="https://schema.org/OutOfStock" />
                {% endif %}
                <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="ratingValue" content="{{ average_rating_rounded }}"/>
                    <meta itemprop="reviewCount" content="{{ average_rating_review_count | remove: '+' }}"/>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<style>
  .onereview-summary {
  	--onereview-summary-bg: #fff;
  	--onereview-summary-border: #e9e8e7;
  	--onereview-summary-color: #333;
  	--onereview-summary-heading-color: #000;
  	--onereview-padding: 20px;
  	--onereview-side-padding: var(--onereview-padding);
  	--onereview-main-padding: var(--onereview-padding);
  	--onereview-star-color: #fdb731;
  
  	position: relative;
  	background-color: var(--onereview-summary-bg);
  	border: 1px solid var(--onereview-summary-border);
  	color: var(--onereview-summary-color);
  	margin: 40px 0;
  	padding-bottom: 32px;
  }
  
  .onereview-summary--dropshadow {
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .onereview-summary__side {
  	display: none;
  }
  
  .onereview-summary__side,
  .onereview-summary__mobile-summary {
  	padding: var(--onereview-side-padding);
  	text-align: center;
  }
  
  .onereview-summary__rating {
    display: flex;
    justify-content: center;
  	font-size: 4rem;
  	font-weight: bold;
  	margin: 0;
  }
  
  .onereview-summary__stars {
  	display: flex;
  	justify-content: center;
  	font-size: 2.5rem;
  	margin: 0;
  	color: var(--onereview-star-color);
  }
  
  .onereview-summary__stars svg {
  	display: block;
  	width: 1.5em;
  	height: 1.5em;
  }
  
  .onereview-summary__count {
  	margin: 10px 0 0;
  }
  
  .onereview-summary__main {
  	padding: var(--onereview-main-padding);
  }

  .onereview-summary__overall {
  }
  
  .onereview-summary__pros {
  	margin: 10px 0 10px 0;
  }
  
  .onereview-summary__cons {
  }
  
  .onereview-summary h2 {
  	margin: 0 0 10px 0;
  	color: var(--onereview-summary-heading-color);
  	font-weight: bold;
    font-size: var(--text-10xl);
  }
  
  .onereview-summary h3 {
  	font-weight: bold;
    font-size: var(--text-xl);
  }
  
  .onereview-summary__powered-by {
  	position: absolute;
  	bottom: 16px;
  	right: 16px;
  	font-size: 12px;
  	text-decoration: none;
  	color: #3a4975;
  }
  
  .onereview-summary__powered-by span {
  	color: #297254;
  }
  
  .onereview-summary__tooltip {
  	position: relative;
  	display: inline-block;
  	vertical-align: middle;
  }
  
  .onereview-summary__tooltip svg {
  	width: 1.1em;
  	height: auto;
  	color: rgb(208, 126, 77);
  }
  
  .onereview-summary__tooltip-text {
  	visibility: hidden;
  	background-color: white;
  	color: black;
  	text-align: center;
  	padding: 5px 10px;
  	border-radius: 6px;
  	font-size: 12px;
  	line-height: 1.5;
  	position: absolute;
  	z-index: 1;
  	max-width: 120px;
  	top: 100%;
  	left: 50%;
  	transform: translateX(-50%);
  	box-shadow: 0 0 30px 10px rgb(0 0 0 / 10%);
  	overflow: hidden;
  }
  
  @media screen and (min-width: 768px) {
  	.onereview-summary__tooltip-text {
  		max-width: 280px;
  	}
  }
  
  .onereview-summary__tooltip-text a {
  	color: black;
  	text-decoration: underline;
  }
  
  .onereview-summary__tooltip-text a:hover,
  .onereview-summary__tooltip-text a:focus {
  	text-decoration: none;
  }
  
  .onereview-summary__tooltip:hover .onereview-summary__tooltip-text {
  	visibility: visible;
  }
  
  @media screen and (min-width: 768px) {
  	.onereview-summary {
  		display: flex;
  		align-items: center;
  	}
  	.onereview-summary__side {
  		display: block;
  		width: 25%;
  	}
  	.onereview-summary__main {
  		width: 75%;
  	}
  	.onereview-summary__mobile-summary {
  		display: none;
  	}
  }
</style>